<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sbc.board.mapper.BoardMapper">
	<select id="boardList" parameterType="ListResult" resultType="Board">
		 <![CDATA[
	     select * from (select ROWNUM rnum, aa.* from (select * from BOARD order by SEQ desc) aa) 
	     where rnum>#{min} and rnum<=#{max}
	     ]]>
	</select>
	
	<insert id="insert" parameterType="Board">
		insert into Board values(Board_SEQ.nextval, #{writer}, #{email}, #{subject}, #{content}, SYSDATE, #{fname}, #{ofname}, #{fsize})
	</insert>
	<delete id="delete" parameterType="long">
		delete from Board where SEQ=#{seq}
	</delete>
	<select id="content" parameterType="long" resultType="Board">
		select * from Board where SEQ=#{seq}
	</select>
	<update id="update" parameterType="Board">
		update Board set SUBJECT=#{subject}, CONTENT=#{content} where SEQ=#{seq}
	</update>
	<select id="boardCount" resultType="String">
		select max(ROWNUM) from BOARD
	</select>
	
	<select id="searchList" parameterType="SearchResult" resultType="Board">
		 <![CDATA[
	     select * from (select ROWNUM rnum, aa.* from (select * from BOARD where ${columname} like '%'||#{likekey}||'%' order by SEQ desc) aa) 
	     where rnum>#{min} and rnum<=#{max}
	     ]]>
	</select>
	<select id="searchListCount" parameterType="SearchResult" resultType="String">
		select max(ROWNUM) from BOARD where ${columname} like '%'||#{likekey}||'%'
	</select>
</mapper>

<!-- 내 풀이
		SELECT * FROM (SELECT seq, writer, email, subject, content, rdate, ROW_NUMBER() OVER(ORDER BY seq DESC) AS RNUM FROM BOARD) WHERE RNUM BETWEEN #{min} AND #{max} ORDER BY seq DESC
	 -->
	<!-- 선생님 풀이  <![CDATA[]]> : 이거는 비교식 '<' '>' 가 sql문의 <> 와 똑같기 때문에 비교식으로 인식을 못한다. 그래서 CDATA 섹션으로 묶어서 문자열로 처리하도록 하는 것 이다.
		<select id="selectPerPage" resultType="Board" parameterType="BoardVo"> ( 그냥 메소드에 반환값이 있으면 parameterType에 클래스명 적어주고 getter 사용하듯이 쓰면 사용가능 )
		 <![CDATA[
	     select * from (select ROWNUM rnum, aa.* from (select * from BOARD order by SEQ desc) aa) 
	     where rnum>#{startRow} and rnum<=#{endRow}
	     ]]>
	</select>
	 -->


